header{
  display: flex;
  justify-content: center;
  margin-left: 120px;
 
  
}
.center{
  display: block;
  display: flex;
  width: 1000px;
  height: 400px;
  justify-content: center;
  psostition: relative;
}
section{
  position: absolute;
  top: 80%;
  left: 55%;
  transform: translate(-50%, -50%);
  
}
main{
  width: 700px;
  justify-content: center;
  margin-left: 30%;
  line-height:30px;}

section{ 
  width: 700px;
  justify-content: center;
  font-size: 50px;
  
}

.kisebb{
  font-size: 40px;
}
h2,h1{
  font-family: 'Abril Fatface', cursive;
  color: #222;  
}
p,ul{
  font-family: 'Josefin Sans', sans-serif;
  color: #222 ; 
}

p1{
  font-weight: bold;
}

.aposztrof{
  display: block;
  width: 600px;
  height: 70px;
  padding: 30px;
  background: purple;
  color: white;
}

.aposztrof::before {
  content:'”';
  font-size: 90px;
}

.border{
  display: block;
  width: 700px;
  height: 200px;
  border-top: solid
}
main{
   line-height:20px;
}

#kozelebb{
  line-height: 10px;
}